# Node
# Node
node_modules/
npm-debug.log

# Env files
.env

# Docker
*.log
data/               # <-- exclude collected audio/metadata (too heavy for Git)
*.pid
*.tar
*.gz

# System files
.DS_Store
.vscode/
.env
